h1{
    padding-top: 4rem;
    
}
.aboutMe{
    background-color: #9C6E8C;
    margin: 2rem;
    border-radius: 17px;
    border: 1px solid;
    padding: 10px;
    
}
.proPic{
    border-radius: 50%;
    border: solid 2px white;
}

.profile{
    display: grid;
    
}
p{
    padding: 1rem;
}
