.wrapper{
    padding-top: 14rem;
}

.pics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artPic{
width: 260px;
height: 170px;
border: solid 2px white; 
}