.art{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem;
}
.art a{
    color: white;
}


img{
    margin-top: 1rem;
    border:10px solid white;
}

.picOne{
    width: 20%;
    height: 20%;
}
.picTwo{
    width: 17%;
    height: 17%;
}
.picThree{
    width: 14%;
    height: 14%;
}
