.container{
   display: flex;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

h1{
    color: white;
    
}


.hero { 
    border:2px solid white;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 14rem;
    margin-bottom: 3rem;
  }
