.logo{
    width:  100x;
    height: 50px;
    margin: -1.5rem;
}
.navBar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #9C6E8C;
        float: left;
        text-align: left;
        padding-bottom: 2rem;
        border-bottom: 1px double white;
        
    }

    .double{
        border-bottom: 1px double white;
        margin-bottom: -1.5rem;
    }
.toph1{
    text-align: right;
    margin-right: 0.6rem;
}    


ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #9C6E8C;
}

li {
    float: right;
    
    margin-right: 1rem;
    
  }
  
li a{
    color: white;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
}
    
