.logo{
    width:  100x;
    height: 50px;
    margin: -1.5rem;
}
.navBar{
    color: white;
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #E89C85;
}

li {
    float: right;
    
    margin-right: 1rem;
    padding: 0.5rem;
  }
  
li a{
    color: white;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
}
    
