
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');


*{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.container{
  
}

body{
  background: rgb(109,110,109);
background: linear-gradient(90deg, rgba(109,110,109,1) 0%, rgba(109,110,109,1) 35%, rgba(109,110,109,1) 100%);
}
